.mat-mdc-card-header {
display: flex;
padding: 25px;
justify-content: center;
}
mat-card {
width: 25vw;
margin-top: 50px;
}
.mat-mdc-card-header {
display: flex;
padding: 25px;
}
.mat-mdc-card-content:last-child {
padding: 20px;
}

form {
display: flex;
flex-direction: column;
}

button {
margin-top: 20px;
}
img {
    width: 100px;
    border-radius: 50%;
    object-fit: fill;
} 
.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.icon {
    position: relative;
    top: 30px;
    right: 19px;
    background: transparent;
    font-size: 35px;
    width: 40px;
    height: auto;
}
.mat-icon.mat-ligature-font[fontIcon]::before {
    content: attr(fontIcon);
    color: #3d4fb3;
}