<form [formGroup]="registrationForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username" name="username" required>
      <mat-error *ngIf="username?.errors?.['required']">Username is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="email" formControlName="email" name="email" required>
      <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>

    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="password" formControlName="password" name="password" required>
      <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>

    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="register()">Register</button>
  </form>
  
